body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  text-align: center;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

}

.js-clock {
    font-size: 3rem;
    margin: 0 auto;
  }

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  color: #fff;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather {
  display: flex;
  flex-direction: column;
    justify-content: space-between;
width: 12rem;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.login {
  width: 45%;
}

.todo {
  width: 45%;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.todo-list li {
  margin-bottom: 10px;
}

.todo-list li button {
  margin-left: 10px;
}

input[type="text"], input[type="password"] {
  padding: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #cc0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #990000;
}

.location {
    margin: 1rem auto;
  font-size: 1.5em;

}

.temperature {
    margin: 1rem auto;
  font-size: 1.5em;
}